<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="myCtrl"> 


<h4>{{mensaje}}</h4>



First name: <input type="text" ng-model="userName"><br>
<input id="file" type="file"/>
<button ng-click="enviar()">OK</button>

</div>


<script>

var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope, $http) {



	$http.get("http://localhost:8080/users")
	.then(function(response) {
	  $scope.datos = response.data;
	});

	$scope.enviar = function() {


		$scope.files = document.getElementById('file').files;
	 	$scope.getBase64($scope.files[0]);




          
	};
	$scope.getBase64 = function(file){

	   var reader = new FileReader();

		if ($scope.files.length > 0) {
			reader.readAsDataURL(file);
			reader.onload = function () {

		 		$scope.image = reader.result.split(',')[1]
		 		if($scope.userName == null) $scope.userName = ""
		 		//console.log($scope.image)

		        var data = {
		            "userName": $scope.userName,
		            "image": $scope.image 
		        };
		        var config = {
		            headers : {
		                'Content-Type': 'application/json'
		            }
		        }            
		        url = "http://localhost:8080/users"
				$http.post(url, data, config)
				   .then(
				       function(response){
				         // success callback
				         console.log(response)
				         $scope.mensaje = response.status + ":OK"
				       }, 
				       function(response){
				         // failure callback
				         console.log(response)
				         $scope.mensaje = response.status + ":" + response.data.message

				       }
				    );  
		   };
		   reader.onerror = function (error) {
		     console.log('Error: ', error);
		   };
		}
		else
		{
			$scope.mensaje = "400: Bad Request"
		}


	}
});

</script>

</body>
</html>